/* --------------PC---------------------- */

@media all and (min-width:1200px){
body{
    background-image: url(../images/moon.jpg);
    background-repeat: no-repeat;
   background-position: center -60px;
    width: 100%;
   height: 100%;
   position: relative;
 
}


nav{
    width: 100%;
    height: 60px;
    background-color: rgba(255,255,255,0.2);
    position: fixed;
    top: 0;
    right:-100%;
    z-index: 50;
}
    

nav ul{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 100px;
}

nav li{
    color: #fff;
    font-family: 'Gowun dodum';
    margin-left: 100px;
    font-size: 24px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
} 
nav li:hover{
    background-color:rgb(68, 35, 255);
}
nav li.on{
    background-color:rgb(68, 35, 255)
}

#wrap{}

.s1, .s2, .s3, .s4, .s5{
    display: block;
}
section{
    height: 100vh;
}
.information{
    display: none;
}

.s1{
    position: relative;
}
.my{
    font-family: 'GongGothicMedium';
    text-align: center;
    position: absolute;
    left:50%;
    top: 28%;
    transform: translate(-50%, -20%);
    font-size: 60px;
    color: #fff;
}

.my div{
    animation-name: my;
    animation-duration: 3s; 
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(40px);
    /* margin-top: 5px; */
}

.my .txt2{
    animation-delay: 1s;
}

.my .txt3{
    animation-delay: 2s;
}

.my .txt4{
    animation-delay:3s;
}

.my .egg{
    padding-top: 50px;
    animation-delay:4s;
}
.my .egg img{
    width: 300px;
}
@keyframes my{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.arrow{
    width: 50px;
    /* padding-top: 60px; */
    position: absolute;
    left:50%;
    bottom: 10%;
    transform: translate(-50%, -20%);
    animation:
    motion 0.6s linear 0s infinite alternate; 

}

.egg .vibration {
    animation: vibration .1s infinite;
  }
  
  @keyframes vibration {
    from {
      transform: rotate(1deg);
    }
    to {
      transform: rotate(-1deg);
    }
  }
  

@keyframes motion {
	0% {padding-top: 0px;}
	100% {padding-top: 60px;}
}





.my .login button{
    padding: 5px;
    border-radius: 5px;
}
.my .login button:hover{
    background-color: rgba(61, 255, 232, 0.706);
    color: #fff;
}
.s5{
    position: relative;
}

footer{
    width: 100%;
    height: 60px;
    background-color: rgb(87, 206, 250);
    position: absolute;
    bottom:0;
    left:0;
    color: #fff;

}

.fp{
    font-size: 10px;
    color: #fff;
    margin: 14px;
}

/* -----------PC------------------ */