/* --------------PC---------------------- */

@media all and (min-width:1200px){
body{
    background-image: url(../images/underwater.jpg);
    background-repeat: no-repeat;
   background-position: center -60px;
    width: 100%;
   height: 100%;
   position: relative;
   font-family: 'GongGothicMedium';

}


nav{
    width: 100%;
    height: 60px;
    background-color: rgba(255,255,255,0.2);
    position: fixed;
    top: 0;
    right:-100%;
    z-index: 50;
}
    

nav ul{
    display: flex;
    justify-content: center;
    position: absolute;
    /* top: 10px; */
    right: 100px;
}

nav li{
    color: #fff;
    font-family: 'Gowun dodum';
    margin-left: 100px;
    font-size: 24px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    line-height: 60px;
} 
nav li:hover{
    background-color:rgb(61, 149, 207);
}
nav li.on{
    background-color:rgb(61, 149, 207);
}

#wrap{}

.s1, .s2, .s3, .s4, .s5{
    display: block;
}

.s3 .my3, .arrow3{
    display: block;
}
section{
    height: 100vh;
}
.information{
    display: none;
}

.s1{
    position: relative;
}

.my{
    font-family: 'GongGothicMedium';
    text-align: center;
    position: absolute;
    left:50%;
    top: 28%;
    transform: translate(-50%, -20%);
    font-size: 60px;
    color: #ffffff;
    text-shadow: -1px 0px
 #505050, 0px 1px #505050, 1px 0px #505050, 0px -1px #505050;
    
}

.my div{
    animation-name: my;
    animation-duration: 3s; 
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(40px);
    /* margin-top: 5px; */
}

.my .txt2{
    animation-delay: 1s;
}

.my .txt3{
    animation-delay: 2s;
}

.my .txt4{
    animation-delay:3s;
}

.my .egg{
    padding-top: 50px;
    animation-delay:4s;
}
.my .egg img{
    width: 600px;
}
@keyframes my{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.arrow{
    width: 50px;
    /* padding-top: 60px; */
    position: absolute;
    left:50%;
    bottom: 10%;
    transform: translate(-50%, -20%);
    animation:
    motion 0.6s linear 0s infinite alternate; 
}

.egg .vibration {
    animation: vibration .1s infinite;
  }
  
  @keyframes vibration {
    from {
      transform: rotate(5deg);
    }
    to {
      transform: rotate(-5deg);
    }
  }
  

@keyframes motion {
	0% {padding-top: 0px;}
	100% {padding-top: 60px;}
}


/* .my .login button{
    padding: 5px;
    border-radius: 5px;
}
.my .login button:hover{
    background-color: rgba(61, 255, 232, 0.706);
    color: #fff;
} */


/*---------------s1 끝-------------------*/
/**/

/*---------------s2 시작-------------------*/
.my2{
    margin-top: 20px;
    font-family: 'GongGothicMedium';
    text-align: center;
    position: absolute;
    left:50%;
    top: 25%;
    transform: translate(-50%, -20%);
    font-size: 60px;
    color: #fff;
    text-shadow: -1px 0px
    #505050, 0px 1px #505050, 1px 0px #505050, 0px -1px #505050; 
}

.my2 div{
    animation-name: my2;
    animation-duration: 3s; 
    animation-delay: 8s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(40px);
    /* margin-top: 5px; */
}

.my2 .txt2{
    animation-delay: 9s;
}

.my2 .txt2 span{
    color:rgb(55, 62, 255);
}

@keyframes my2{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.s2 .egg{
    margin-top: 50px;
}

.s2 img{
    width: 500px;
}

.s2 .arrow{
    width: 50px;
    position: absolute;
    left:50%;
    bottom: 62%;
    transform: translate(-50%, -50%);
    animation:
    motion 0.6s linear 0s infinite alternate; 
}

.s3 .my3{

    /* transform: translate(-50%, -40%); */
    font-size: 50px;

}

.s3 .egg img{

    width: 300px;
}

.s3 .arrow3{
    width: 50px;
    position: absolute;
    left:50%;
    bottom: 3%;
    transform: translate(-50%, -50%);
    animation:
    motion 0.6s linear 0s infinite alternate; 
}

.s4 .my4{
    font-size: 55px;
    font-family: 'GongGothicMedium';
    text-align: center;
    position: absolute;
    left:50%;
    top:65%;
    transform: translate(-50%, -20%);
    font-size: 60px;
    color: #ffffff;
    text-shadow: -1px 0px
 #505050, 0px 1px #505050, 1px 0px #505050, 0px -1px #505050;
}

.s4 .egg img{
    width: 1500px;
    padding-top: 50px;
}

.s4 .arrow4{
    width: 50px;
    position: absolute;   
    left:50%;
    top: 78%;
    transform: translate(-50%, -50%);
    animation:
    motion 0.6s linear 0s infinite alternate; 
}
.s5{
    position: relative;
}

.s5 .my5{
    transform: translate(-50%, -20%);
}

.s5 button{
    padding: 10px;
    font-family: 'GongGothicMedium';
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    background-color:rgb(61, 149, 207);
    color:#fff;
    font-weight: lighter;
}

button:hover{
    background-color: rgb(0, 52, 87);
    color: #fff;
}

.s5 img{
    margin-top: 50px;
}

/* dddddd */



footer{
    width: 100%;
    height: 60px;
    background-color: #013E53;
    position: absolute;
    bottom:0;
    left:0;
    color: #fff;


.fp{
    padding-right: 50px;
    font-size: 25px;
    color: #fff;
    line-height: 60px ;
    /* margin: 14px; */
    font-family: 'Gowun dodum';
    font-weight: bold;
    text-align: right;
}

.fb span{
    padding-left: 100px;
    font-family: 'Gowun dodum';
    color: #fff;
}
}
/* -----------PC------------------ */