<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/pc.css">
    <link rel="stylesheet" href="../static/css/mobile.css">
    <title>GoBooKid</title>
</head>
<body>

<nav>
    <ul>
        <li>Main</li>
        <li class="on">My</li>
        <li>Look</li>
        <li>Write</li>
        <li>Footer</li>
    </ul>
</nav>



<div id="wrap">
    <section class="s1">
        <div class="my">
            <div class="txt1">알은 세계다.</div>
            <div class="txt2">태어나려는 자는</div>
            <div class="txt3">하나의 세계를 깨뜨려야 한다.</div>
            <div class="txt4"><데미안></div>
            <div class="egg">
                <img id="img1" src="../static/img/first_egg.png">
                <img id="img2" src="../static/img/egg2.png">
                <img id="img3" src="../static/img/egg3.png">
            </div>
            <div class="login"><button>로그인</button></div>
        </div><!--my-->
    </section><!--s1-->

    <section class="s2"></section>
    <section class="s3">
        <p class="information">
            현재 GoBookid는<br>
            Chrome 1920*1080에<br>
            최적화되어있습니다.<br>
            PC로 확인 부탁드립니다.<br>
             감사합니다.
        </p>
    </section>
    <section class="s4"></section>
    <section class="s5"><footer></footer></section>
    
</div>

<footer>
    <p class="fp">
       
    </p>
</footer>


    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/jquery.mousewheel.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/main.js"></script>
</body>
</html>