<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>idnex</h1>
<th:block>
    <form action="report/hi" method="post">
        ID : <input type="text" name="reportid_no"><br>
        type : <input type="text" name="ReportComment_no"><br>
        type : <input type="text" name="PostNum_no"><br>
        type : <input type="text" name="reporter"><br>
        type : <input type="text" name="reportee"><br>
        type : <input type="text" name="reportReason"><br>

        <input type="submit" value="로그인">


    </form>

    <form action="delete" method="post">
        ID : <input type="text" name="review_no"><br>
    </form>
</th:block>
</body>
</html>